# Python Basics | Assignment 20

# Q1. 
### Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system.'
filename = 'test.txt'

with open(filename, 'w') as file:
    file.write(test1)

print("File 'test.txt' created and text saved successfully.")

File 'test.txt' created and text saved successfully.

# Q2.
### Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
filename = 'test.txt'

with open(filename, 'r') as file:
    test2 = file.read()

# Compare test1 and test2
if test1 == test2:
    print("test1 and test2 have the same content.")
else:
    print("test1 and test2 have different content.")

test1 and test2 have the same content.

# Q3.
### Create a CSV file called books.csv by using these lines:
##### title,author,year
##### The Weirdstone of Brisingamen,Alan Garner,1960
##### Perdido Street Station,China Miéville,2000
##### Thud!,Terry Pratchett,2005
##### The Spellman Files,Lisa Lutz,2007
##### Small Gods,Terry Pratchett,1992

In [4]:
import csv

data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

filename= 'books.csv'

with open(filename, 'w', newline='') as file:
    writer= csv.writer(file)
    writer.writerows(data)
    
print(f"CSV file '{filename}' created successfully.")

CSV file 'books.csv' created successfully.

# Q4.
### Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [5]:
import sqlite3

conn = sqlite3.connect('books.db')

cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

conn.commit()
conn.close()

print("SQLite database 'books.db' and table 'books' created successfully.")

SQLite database 'books.db' and table 'books' created successfully.

# Q5.
### Read books.csv and insert its data into the book table.

In [7]:
import sqlite3
import csv

conn= sqlite3.connect('books.db')

cursor= conn.cursor()

with open('books.csv', 'r') as file:
    reader= csv.reader(file)
    next(reader) # Skip the header row
    for row in reader:
        title, author, year= row
        cursor.execute('''
        INSERT INTO books (title, author, year)
        VALUES (?, ?, ?)
        ''',(title, author, int(year)))
        
conn.commit()
conn.close()

print("Data from 'books.csv' inserted into the 'books' table successfully.")

Data from 'books.csv' inserted into the 'books' table successfully.

# Q6.
### Select and print the title column from the book table in alphabetical order.

In [8]:
import sqlite3

conn= sqlite3.connect('books.db')

cursor= conn.cursor()

cursor.execute('''
SELECT title FROM books
ORDER BY title ASC''')

rows= cursor.fetchall()

for row in rows:
    print(row[0])
    
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

# Q7.
### From the book table, select and print all columns in the order of publication.

In [9]:
import sqlite3

conn= sqlite3.connect('books.db')

cursor= conn.cursor()

cursor.execute('''
SELECT * FROM books
ORDER BY year ASC''')

rows= cursor.fetchall()

for row in rows:
    print(row)
    
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

# Q8.
### Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [10]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db')

conn = engine.connect()

print("Connected to the SQLite database successfully.")

Connected to the SQLite database successfully.

# Q9.
### Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [14]:
import redis

# Connect to the Redis server
r = redis.Redis()

# Create the Redis hash
r.hset("test", "count", 1)
r.hset("test", "name", "Fester Bestertester")

# Print all the fields for "test"
fields = r.hgetall("test")
for field, value in fields.items():
    print(f"{field.decode()}: {value.decode()}")

count: 1
name: Fester Bestertester

# Q10.
### Increment the count field of test and print it.

In [15]:
import redis

r= redis.Redis()

r.hincrby("test", "count", 1)
count = r.hget("test", "count")

print(f"Updated count value: {count.decode()}")

Updated count value: 2